<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Vragen Toevoegen & Aanpassen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>vragen toevoegen</h1>
        <form id="add-student-form">
            <div class="form-group">
                <label for="question_text">Vraag</label>
                <input type="text" class="form-control" id="question_text" name="question_text" required>
            </div>
            <div class="form-group">
                <label for="question_type">type vraag</label>
                <input type="text" class="form-control" id="question_type" name="question_type" required>
            </div>
            <div class="form-group">
                <label for="is_active">actief</label>
                <input type="text" class="form-control" id="is_active" name="is_active" required>
            </div>
            <button type="submit" class="btn btn-primary">Toevoegen</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
            $('#add-student-form').submit(function(event) {
                event.preventDefault();
                var question_id = $('#question_id').val();
                var question_text = $('#question_text').val();
                var question_type = $('#question_type').val();
                var is_active = $('#is_active').val();
                $.ajax({
                    url: '/add_student',
                    type: 'POST',
                    data: {
                        question_id: question_id,
                        question_text: question_text,
                        question_type: question_type,
                        is_active: is_active
                    },
                    success: function(response) {
                        $('#question_id').val('');
                        $('#question_text').val('');
                        $('#question_type').val('');
                        $('#is_active').val('');

                        loadStudents();
                    }
                });
            });
    </script>
</body>
</html>
